table{
    border: 1px solid #cccc;
border-collapse: collapse;
}
table td {
    border: 1px solid #cccc;
    padding: 5px 10px;
}
table td:first-child {
font-weight: 600;

}

form {
    width: 250px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}